<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Data Analysis Website</title>
</head>
<body>
    <header>
        <h1>Cardiff School of Technologies</h1>
        <p>Programming for Data Analysis (<span style="color: #FFD700;">CMP7005</span>) - 
           <span style="color: #FFD700;">Aman Bishnoi</span> (<span style="color: #FFD700;">st20315616</span>)
        </p>
    </header>
    <main>
        <h2>Welcome to the Assessment Portal PRAC1</h2>
        <p>Select a section below to explore the results obtained:</p>
        <div class="main-buttons">
            <button>
                <a href="data_overview.html">Data Overview</a>
            </button>
            <button>
                <a href="eda.html">Exploratory Data Analysis</a>
            </button>
            <button>
                <a href="modeling.html">Modeling and Prediction</a>
            </button>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Cardiff School of Technologies - Programming for Data Analysis</p>
    </footer>
</body>
</html>
